﻿.container
{
	width: 1170px;
}
.navbar-fixed-top
{
	border-bottom:solid #c3cdd4 1px; 
}
.navbar-default
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}
.navbar-collapse .navbar-nav
{
	float: right;
	height: 90px;
}
.navbar-default .navbar-nav > li > a
{
	font-size: 16px;
	line-height: 20px;
	padding:35px 20px;
	border-right: solid #d4dde2 1px;
	color: #222222;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > li > a.active
{
	background: #0068b7;
	color: #fff;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus
{
	background: #0068b7;
	color: #fff;
}
.navbar-default .navbar-nav > li.language{
	padding:0 10px;
	color:#777;
}
.navbar-default .navbar-nav > li.language span,.navbar-default .navbar-nav > li.language a
{
    display: inline;
    font-size: 14px;
    line-height: 90px;
    text-decoration: none;
    padding: 0;
    border-right:none;
}

.navbar-default .navbar-nav > li.language span.selected
{
	color: #0068b7;

}
.navbar-default .navbar-nav > li.language a.en
{
	color: #777;
}
.navbar-default .navbar-nav > li.language a.en:hover
{
	background:none;
	color: #0068b7;
}
.nav-home
{
	position: fixed;
	bottom: 30px;
	margin-left: 1170px;
}
.nav-home .nav-pills > li > a
{
	-moz-border-radius: 100%; 
	-webkit-border-radius: 100%; 
	border-radius: 100%; 
	background: #bcc3c6;
	color: #075590;
	width: 18px;
	height: 18px;
	padding: 0px;
	background: url(/web/20211209060516im_/http://opensource.rock-chips.com/skins/Vector/images/dot_gray.png) no-repeat\9;
}
.nav-home .nav-pills > li.active > a, .nav-home .nav-pills > li > a:hover,.nav-home .nav-pills > li > a:focus
{
	background: #0068b7;
	color: #ffffff;
	background: url(/web/20211209060516im_/http://opensource.rock-chips.com/skins/Vector/images/dot_blue.png) no-repeat\9;
}
.nav-home .nav-stacked > li + li
{
	margin-top:10px;
}
@media screen and (max-width: 900px){
	.nav-home{
		display: none;
	}
}

/*
     FILE ARCHIVED ON 06:05:16 Dec 09, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:06:59 Feb 22, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 701.842
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.082
  RedisCDXSource: 7.547
  esindex: 0.01
  LoadShardBlock: 673.56 (3)
  PetaboxLoader3.datanode: 776.761 (4)
  CDXLines.iter: 17.065 (3)
  load_resource: 168.837
  PetaboxLoader3.resolve: 23.744
*/